* {
    font-size: 62.5%;    
}
.body-home {
    background-color: black;
    /*background-image: url("Imagenes/imagen2.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;    
}
.barra {
    margin-top: 1.6rem;
    list-style: none;
}
.home {
    background-image: url("Imagenes/home1.png");
}


